h1{
    font-weight: bold;
}
h2{
    color: blueviolet;
    font-style: italic;
}

#name{
    color: red;
    font-weight: 600;
}

img{
    float: right;
}

.tableTitle{
    font-size: 25px;
    font-weight: bold;
}