
body{
    background-color: #e6f3ff;

}
    
h1{
    font-weight: bold;
}
h2{
    color: blueviolet;
    font-style: italic;
}

#name{
    color: red;
    font-weight: 600;
}

img{
    float: right;
}
.tableTitle{
    font-size: 25px;
    font-weight: bold;
    padding-top: 150px;
}

table{
    border: 1px solid black;
    width: 100%;
}

th,td{
    text-align: left;
    padding: 10px;
}

footer{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;

}